<!DOCTYPE html>

<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Book library project{% endblock %}</title>
</head>
<body>
    <header class="headsection">
        <h2 class="logo"><img src="{% static 'imagefolder/booklogo.png' %}" alt=""></h2>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
          </div>
        <nav>
            <ul class="menubar">
                <select name="" id="">
                    <option value="">Book Type</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="education">Education</option>
                    <option value="selfhelp">self-help</option>
                    <option value="romance">Romance</option>
                    <option value="horror">Horror</option>
                    <option value="history">History</option>
                    <option value="travel">Travel</option>
                    <option value="health">Health</option>
                    <option value="business">Business</option>
                    <option value="mystery">Mystery</option> 

                </select>
                <li><a href="#">Recommendations</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="{% url 'user:addtocart' %}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#">Download App</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>

            </ul>
        </nav>
        <div class="activeprofilesection">
            <div class="accountsection">
                <a href="{% url 'user:login' %}"><button class="login">Login</button></a>
                <a href="{% url 'user:register'%}"><button class="signup">Start for Free</button></a>
            </div>
            <div class="profile" sty>
                <img src="{% static 'imagefolder/IMG_5452.jpg' %}" alt="" height="40"  style="border-radius: 100px;">
            </div>
        </div>
    </header>
</body>
</html>