<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Login Page</title>
</head>
<body>
    <div id="login-page">
        <header>
        <h1><img src="{% static 'imagefolder/booklogo.png' %}" alt=""></h1>
        <nav>
            <ul>
                <li><a href="{% url 'user:dashboard' %}">Home</a></li>
            <li><a href="about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="{% url 'user:login' %}" id="login">Login</a></li>
            </ul>
            <div class="searchbar">
                <input type="search" placeholder="Search your favourite book here">
            </div>
        </nav>
    </header>
    <main class="login">
        <div class="login-section">    
            <div class="container" id="register-container">
                <h2>Register</h2>
                <!-- <form id="registerform">
                    <input type="text" placeholder="First Name" required>
                    <input type="text" placeholder="Last Name" required>
                    <input type="email" placeholder="Enter Email" required>
                    <input type="email" placeholder="Confirm Email" required>
                    <input type="password" placeholder="Enter Password" required>
                    <input type="password" placeholder="Confirm Password" required>
                    <label for="authors">I am an author</label>
                    <input type="checkbox" id="checkbox">
                    <button type="submit" id="register-btn">Submit</button>
                    <div class="spinner" id="register-spinner"></div>
                    <p>Already have an account? <a href="{% url 'user:login' %}" id="toggle-login">Login</a></p>
                </form> -->
            <form action="">
                {{forms}}
            </form>
            </div>
            <div class="scrollingtext">
                <div>
                    <h2>
                        <span>WELCOME TO</span><br>
                        <span>OUR</span><br>
                        <span>BOOKSTORE</span>
                    </h2>
                    <p>knowledge is your Decision,Dedication,Despiration <br>
                    you can get everything you wann when you work hard and stick  to the plan</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>follow us on</p>
    </footer>
</div>
</body>
</html>