<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Login Page</title>
</head>
<body>
    <div id="login-page">
        <header>
        <h1><img src="{% static 'imagefolder/booklogo.png' %}" alt=""></h1>
        <nav>
            <ul>
                <li><a href="{% url 'user:dashboard' %}">Home</a></li>
            <li><a href="about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="{% url 'user:login' %}" id="login">Login</a></li>
            </ul>
            <div class="searchbar">
                <input type="search" placeholder="Search your favourite book here">
            </div>
        </nav>
    </header>
    <main class="login">
        <div class="login-section">    
                <div class="container" id="register-container">
                    <div>
                        <h2>Register</h2>
                        <form action="" class="register-form">
                            {{forms}}
                        </form>
                    </div>
                
                    <div class="register-text">
                        <h2>
                            <span>WELCOME TO</span><br>
                            <span>OUR</span><br>
                            <span>BOOKSTORE</span>
                        </h2>
                        <p>knowledge is your Decision,Dedication,Despiration <br>
                        you can get everything you wann when you work hard and stick  to the plan</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>follow us on</p>
    </footer>
</div>
</body>
</html>